<nav class="navbar navbar-default">
  <section class="container-fluid">
    <header class="navbar-header">
      <a routerLink="/recipes" class="navbar-brand">
        Recipe book
      </a>
    </header>
    <section class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="shopping-list">Shopping list</a>
        </li>
      </ul>
    </section>
  </section>
</nav>
